*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(236, 233, 233);
}

.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cajas{
    width: 250px;
    height: 180px;
    padding: 20px;
    background: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms;
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .icons, h4, p{
        position: relative;
    }
    .icons{
        font-size: 40px;
        color: #2fd3e9;
    }
    h4,p{
        margin-top: 10px;
    }
    h4{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .efecto-hover{
        width: 100px;
        height: 100px;
        background-color: red;
        position: absolute;
        top: 250px;
        left: -170px;
        border-radius: 100%;
        transition: all 300ms;
        
    }
    &:hover .efecto-hover:hover
    {
        width: 400px;
        height: 400px;
        top: -70px;
        left: -70px;
    }

}
